
<form action = "/api/pets" enctype="multipart/form-data" class ="pet-image-upload-form" method="POST">
    <h2>Enter Pet Information:</h2>
    <div class="text-section">
        <label>Name: </label>
        <input type="text" name="name"/>
        <label>Species: </label>
        <input type="text" name = "species"/>
        <label>Breed: </label>
        <input type="text" name="breed"/>
        <label>Gender: </label>
        <input type="text" name="gender"/>
        <label>Age: </label>
        <input type="number" min="0" name="age"/>
        <label>Id number: </label>
        <input type="text" name="Id_number" minlength = "8"/>
        <label>Color: </label>
        <select name="colors" id="colors">
            <option value="white">White</option>
            <option value="black">Black</option>
            <option value="grey">Grey</option>
            <option value="brown">Brown</option>
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="purple">purple</option>
        </select>     
        <label>Diet: </label>
        <input type="text" name="diet"/>
        <label>Last Known Location: </label>
        <input type="text" name="location"/>
        <div class="status-container">
            <label>Status: </label>
            <input type="radio" id="status_lost" name="status_lost" value="Lost" checked/>
            <label for="status_lost">Lost</label>
            <input type="radio" id="status_found" name="status_found" value="Found"/>
            <label for="status_found">Found</label>
        </div>
    </div>
    <div class = "image-section">
        <label>Upload pet picture: </label>
        <input type="file" name="img-post"/>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>