
<form action = "/api/pets" enctype="multipart/form-data" class ="pet-image-upload-form" method="POST">
    <h2>Enter Pet Information:</h2>
    <div class="text-section">
        <label>Name: </label>
        <input type="text" name="name" required/>
        <label>Species: </label>
        <input type="text" name = "species" required/>
        <label>Breed: </label>
        <input type="text" name="breed"/>
        <label>Gender: </label>
        <select name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <label>Age: </label>
        <input type="number" min="0" name="age"/>
        <label>Id number: </label>
        <input type="text" name="Id_number" minlength = "8" pattern="[0-9]+$"/>
        <label>Color: </label>
        <select name="colors" id="colors">
            <option value="white">White</option>
            <option value="black">Black</option>
            <option value="grey">Grey</option>
            <option value="brown">Brown</option>
            <option value="red">Red</option>
            <option value="pink">Pink</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="purple">purple</option>
        </select>     
        <label>Diet: </label>
        <input type="text" name="diet"/>
        <label>Last Known Location: </label>
        <input type="text" name="location"/>
        <div class="status-container">
            <label>Status: </label>
            <select name="status" id="status">
                <option value="lost">Lost</option>
                <option value="found">Found</option>
            </select>
        </div>
    </div>
    <div class = "image-section">
        <label>Upload pet picture: </label>
        <input type="file" name="img-post"/>
    </div>
    <div hidden>
        <input type="text" name = "loggedIn" value="{{loggedIn}}" readonly/>
        <input type="text" name = "user_id" value="{{user_id}}" readonly/>
        <input type="text" name = "username" value="{{username}}" readonly/>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>