<form action = "/upload" enctype="multipart/form-data" class ="pet-image-upload-form" method="POST">
    <div>
        <label>Upload pet picture</label>
        <input type="file" name="img-post" required/>
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>
