<form method="POST" action="upload-single" enctype="multipart/form-data">
    <div>
        <label>Upload pet picture</label>
        <input type="file" name="img-post" required/>
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>